In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load data from Excel into a DataFrame
file_path = r'C:\Users\20735\Customers_Data\Customers_DataU\0122 Vendors for matching.xlsx'
df = pd.read_excel(file_path)

In [3]:
# Access the column by its header name
column_name = 'Amount in doc. curr.'

# Get the data type of the column
column_data_type = df[column_name].dtype
# Print the data type
print(f"Data type of column '{column_name}': {column_data_type}")

Data type of column 'Amount in doc. curr.': float64

In [4]:
# Define group conditions
group_conditions = ['Company Code', 'Account', 'Vendor', 'Text']

In [5]:
#Group the DataFrame based on the conditions
groups = df.groupby(group_conditions)

In [6]:
# Initialize sets to store row indices already added to DataFrames
added_indices = set()

In [7]:
# Initialize lists to store rows with zero sum, non-zero sum, and ungrouped rows
zero_sum_rows = []
non_zero_sum_rows = []
ungrouped_rows = []

In [8]:
# Iterate through each row in the original DataFrame
for index, row in df.iterrows():
    # Extract group key from the row, handling NaN values
    row_key = tuple(row[condition] if pd.notna(row[condition]) else None for condition in group_conditions)
    
    # Check if the row belongs to any group
    if row_key in groups.groups:
        # Check if the row index has already been added to any DataFrame
        if index not in added_indices:
            # Check if the sum of "Amount in doc. curr." column is zero for the group
            if groups.get_group(row_key)['Amount in doc. curr.'].sum() == 0.0000000000000:
                zero_sum_rows.append(row.tolist())
            else:
                non_zero_sum_rows.append(row.tolist())
            # Add the row index to the set of added indices
            added_indices.add(index)
    else:
        # If the row doesn't belong to any group, add it to ungrouped_rows
        ungrouped_rows.append(row.tolist())
        # Add the row index to the set of added indices
        added_indices.add(index)

In [9]:
# Convert the lists to DataFrames
zero_sum_df = pd.DataFrame(zero_sum_rows, columns=df.columns)
non_zero_sum_df = pd.DataFrame(non_zero_sum_rows, columns=df.columns)
ungrouped_df = pd.DataFrame(ungrouped_rows, columns=df.columns)

In [10]:
# Concatenate zero_sum_df, non_zero_sum_df, and ungrouped_df
combined_df = pd.concat([zero_sum_df, non_zero_sum_df, ungrouped_df])

In [11]:
all_open_items_df = pd.concat([non_zero_sum_df,ungrouped_df])

In [12]:
print(zero_sum_df)

      Company Code  Account  Customer  Customer.1    Vendor   Vendor1  \
0              122  3010008       NaN         NaN  80001500       NaN
1              122  3010008       NaN         NaN  80001500  80001500
2              122  3010008       NaN         NaN  80001497       NaN
3              122  3010008       NaN         NaN  80001497  80001497
4              122  3010008       NaN         NaN  80001497       NaN
...            ...      ...       ...         ...       ...       ...
7207           122  3010008       NaN         NaN  80000134       NaN
7208           122  3010008       NaN         NaN  80000075       NaN
7209           122  3010008       NaN         NaN  80000075  80000075
7210           122  3010008       NaN         NaN  80000075       NaN
7211           122  3010008       NaN         NaN  80000075  80000075

      Customer/Vendor Name  Offsetting acct no. Document type  \
0                      NaN                  NaN            KZ
1           Ecctis Limited                  NaN            KR
2                      NaN                  NaN            KZ
3     West London Plumbing                  NaN            KR
4                      NaN                  NaN            KZ
...                    ...                  ...           ...
7207                   NaN                  NaN            KA
7208                   NaN                  NaN            KZ
7209       IHS GLOBAL INC.                  NaN            KR
7210                   NaN                  NaN            KZ
7211       IHS GLOBAL INC.                  NaN            KR

      Document Number  ... Profit Center Purchasing Document  Reference  \
0          1500000681  ...    P106001000                 NaN       BILL
1          3900000657  ...    P106001000                 NaN       BILL
2          1500000617  ...    P106001000                 NaN       BILL
3          3900000592  ...    P106001000                 NaN       BILL
4          1500000820  ...    P106001000                 NaN       BILL
...               ...  ...           ...                 ...        ...
7207       8700000061  ...    P106001000                 NaN        NaN
7208       1500000072  ...    P106001000                 NaN        NaN
7209       3900000070  ...    P106001000                 NaN       BILL
7210       1500000147  ...    P101000001                 NaN        NaN
7211       3900000140  ...    P101000001                 NaN       BILL

     Sales Document  Sort key Special G/L ind.  UAP Code  UAP Sub-Code  \
0               NaN        60              NaN       NaN           NaN
1               NaN        60              NaN       NaN           NaN
2               NaN        60              NaN       NaN           NaN
3               NaN        60              NaN       NaN           NaN
4               NaN        60              NaN       NaN           NaN
...             ...       ...              ...       ...           ...
7207            NaN        60              NaN       NaN           NaN
7208            NaN        60              NaN       NaN           NaN
7209            NaN        60              NaN       NaN           NaN
7210            NaN        60              NaN       NaN           NaN
7211            NaN        60              NaN       NaN           NaN

      User Name  Unnamed: 34
0         21468            V
1         21468            V
2         21468            V
3         21468            V
4         21468            V
...         ...          ...
7207      18181            V
7208      18181            V
7209      18181            V
7210      18181            V
7211      18181            V

[7212 rows x 35 columns]

In [13]:
print(non_zero_sum_df)

      Company Code  Account  Customer  Customer.1    Vendor   Vendor1  \
0              122  3010004       NaN         NaN     V0125     V0125
1              122  3010004       NaN         NaN     V0125     V0125
2              122  3010004       NaN         NaN     V0125     V0125
3              122  3010004       NaN         NaN     V0125     V0125
4              122  3010004       NaN         NaN     V0125     V0125
...            ...      ...       ...         ...       ...       ...
2096           122  3010008       NaN         NaN  80000170  80000170
2097           122  3010008       NaN         NaN  80000170       NaN
2098           122  3010008       NaN         NaN  80000170       NaN
2099           122  3010008       NaN         NaN  80000170  80000170
2100           122  3010008       NaN         NaN  80000170  80000170

          Customer/Vendor Name  Offsetting acct no. Document type  \
0                     NNPC LTD                  NaN            AB
1                     NNPC LTD                  NaN            AB
2                     NNPC LTD                  NaN            AB
3                     NNPC LTD                  NaN            AB
4                     NNPC LTD                  NaN            AB
...                        ...                  ...           ...
2096  DUN & BRADSTREET LIMITED                  NaN            KR
2097                       NaN                  NaN            KZ
2098                       NaN                  NaN            KZ
2099  DUN & BRADSTREET LIMITED                  NaN            KR
2100  DUN & BRADSTREET LIMITED                  NaN            KR

      Document Number  ... Profit Center Purchasing Document  Reference  \
0           100000007  ...    P106001000                 NaN        NaN
1           100000015  ...    P106001000                 NaN        NaN
2           100000046  ...    P106001000                 NaN        NaN
3           100000062  ...    P106001000                 NaN        NaN
4           100000064  ...    P106001000                 NaN        NaN
...               ...  ...           ...                 ...        ...
2096       3900001038  ...    P106001000                 NaN   BILL CHQ
2097       1500000971  ...    P101330000                 NaN        NaN
2098       1500000971  ...    P106001000                 NaN        NaN
2099       3900001039  ...    P101330000                 NaN   BILL CHQ
2100       3900001039  ...    P106001000                 NaN   BILL CHQ

     Sales Document  Sort key Special G/L ind.  UAP Code  UAP Sub-Code  \
0               NaN       100              NaN       NaN           NaN
1               NaN       100              NaN       NaN           NaN
2               NaN       100              NaN       NaN           NaN
3               NaN       100              NaN       NaN           NaN
4               NaN       100              NaN       NaN           NaN
...             ...       ...              ...       ...           ...
2096            NaN        60              NaN       NaN           NaN
2097            NaN        60              NaN       NaN           NaN
2098            NaN        60              NaN       NaN           NaN
2099            NaN        60              NaN       NaN           NaN
2100            NaN        60              NaN       NaN           NaN

     User Name  Unnamed: 34
0        18181            V
1        18181            V
2        18181            V
3        18181            V
4        18181            V
...        ...          ...
2096     18181            V
2097     18181            V
2098     18181            V
2099     18181            V
2100     18181            V

[2101 rows x 35 columns]

In [14]:
print(all_open_items_df)

     Company Code  Account  Customer  Customer.1    Vendor   Vendor1  \
0             122  3010004       NaN         NaN     V0125     V0125
1             122  3010004       NaN         NaN     V0125     V0125
2             122  3010004       NaN         NaN     V0125     V0125
3             122  3010004       NaN         NaN     V0125     V0125
4             122  3010004       NaN         NaN     V0125     V0125
..            ...      ...       ...         ...       ...       ...
735           122  3010008       NaN         NaN  80000170       NaN
736           122  3010008       NaN         NaN  80000170       NaN
737           122  3010008       NaN         NaN  80000170       NaN
738           122  3010008       NaN         NaN  80000170       NaN
739           122  3010008       NaN         NaN  80000170  80000170

         Customer/Vendor Name  Offsetting acct no. Document type  \
0                    NNPC LTD                  NaN            AB
1                    NNPC LTD                  NaN            AB
2                    NNPC LTD                  NaN            AB
3                    NNPC LTD                  NaN            AB
4                    NNPC LTD                  NaN            AB
..                        ...                  ...           ...
735                       NaN                  NaN            KZ
736                       NaN                  NaN            KZ
737                       NaN                  NaN            KZ
738                       NaN                  NaN            KZ
739  DUN & BRADSTREET LIMITED                  NaN            KR

     Document Number  ... Profit Center Purchasing Document  Reference  \
0          100000007  ...    P106001000                 NaN        NaN
1          100000015  ...    P106001000                 NaN        NaN
2          100000046  ...    P106001000                 NaN        NaN
3          100000062  ...    P106001000                 NaN        NaN
4          100000064  ...    P106001000                 NaN        NaN
..               ...  ...           ...                 ...        ...
735       1500000246  ...    P101314000                 NaN        NaN
736       1500000246  ...    P106001000                 NaN        NaN
737       1500000410  ...    P104410000                 NaN        NaN
738       1500000410  ...    P106001000                 NaN        NaN
739       3900000885  ...    P106001000                 NaN       BILL

    Sales Document  Sort key Special G/L ind.  UAP Code  UAP Sub-Code  \
0              NaN       100              NaN       NaN           NaN
1              NaN       100              NaN       NaN           NaN
2              NaN       100              NaN       NaN           NaN
3              NaN       100              NaN       NaN           NaN
4              NaN       100              NaN       NaN           NaN
..             ...       ...              ...       ...           ...
735            NaN        60              NaN       NaN           NaN
736            NaN        60              NaN       NaN           NaN
737            NaN        60              NaN       NaN           NaN
738            NaN        60              NaN       NaN           NaN
739            NaN        60              NaN       NaN           NaN

    User Name  Unnamed: 34
0       18181            V
1       18181            V
2       18181            V
3       18181            V
4       18181            V
..        ...          ...
735     18181            V
736     18181            V
737     18181            V
738     18181            V
739     18181            V

[2841 rows x 35 columns]

In [15]:
print(ungrouped_df)

     Company Code  Account  Customer  Customer.1    Vendor   Vendor1  \
0             122  3010008       NaN         NaN  80001446  80001446
1             122  3010008       NaN         NaN  80001446  80001446
2             122  3010008       NaN         NaN  80001440  80001440
3             122  3010008       NaN         NaN  80001432  80001432
4             122  3010008       NaN         NaN  80001432  80001432
..            ...      ...       ...         ...       ...       ...
735           122  3010008       NaN         NaN  80000170       NaN
736           122  3010008       NaN         NaN  80000170       NaN
737           122  3010008       NaN         NaN  80000170       NaN
738           122  3010008       NaN         NaN  80000170       NaN
739           122  3010008       NaN         NaN  80000170  80000170

         Customer/Vendor Name  Offsetting acct no. Document type  \
0       SOFITEL LUXURY HOTELS                  NaN            ZV
1       SOFITEL LUXURY HOTELS                  NaN            ZV
2    UNIQUE LIMOUSINES L.L.C.                  NaN            ZV
3               ROAMING BY ME                  NaN            ZV
4               ROAMING BY ME                  NaN            ZV
..                        ...                  ...           ...
735                       NaN                  NaN            KZ
736                       NaN                  NaN            KZ
737                       NaN                  NaN            KZ
738                       NaN                  NaN            KZ
739  DUN & BRADSTREET LIMITED                  NaN            KR

     Document Number  ... Profit Center Purchasing Document  Reference  \
0         2000000065  ...    P106001000                 NaN        NaN
1         2000000065  ...    P106001000                 NaN        NaN
2         2000000071  ...    PZ01312000                 NaN        NaN
3         2000000062  ...    P106001000                 NaN        NaN
4         2000000062  ...    P106001000                 NaN        NaN
..               ...  ...           ...                 ...        ...
735       1500000246  ...    P101314000                 NaN        NaN
736       1500000246  ...    P106001000                 NaN        NaN
737       1500000410  ...    P104410000                 NaN        NaN
738       1500000410  ...    P106001000                 NaN        NaN
739       3900000885  ...    P106001000                 NaN       BILL

    Sales Document  Sort key Special G/L ind.  UAP Code  UAP Sub-Code  \
0              NaN        60              NaN       NaN           NaN
1              NaN        60              NaN       NaN           NaN
2              NaN        60              NaN       NaN           NaN
3              NaN        60              NaN       NaN           NaN
4              NaN        60              NaN       NaN           NaN
..             ...       ...              ...       ...           ...
735            NaN        60              NaN       NaN           NaN
736            NaN        60              NaN       NaN           NaN
737            NaN        60              NaN       NaN           NaN
738            NaN        60              NaN       NaN           NaN
739            NaN        60              NaN       NaN           NaN

     User Name  Unnamed: 34
0        18181            V
1        18181            V
2        18181            V
3        18181            V
4        18181            V
..         ...          ...
735      18181            V
736      18181            V
737      18181            V
738      18181            V
739      18181            V

[740 rows x 35 columns]

In [16]:
print(combined_df)

     Company Code  Account  Customer  Customer.1    Vendor   Vendor1  \
0             122  3010008       NaN         NaN  80001500       NaN
1             122  3010008       NaN         NaN  80001500  80001500
2             122  3010008       NaN         NaN  80001497       NaN
3             122  3010008       NaN         NaN  80001497  80001497
4             122  3010008       NaN         NaN  80001497       NaN
..            ...      ...       ...         ...       ...       ...
735           122  3010008       NaN         NaN  80000170       NaN
736           122  3010008       NaN         NaN  80000170       NaN
737           122  3010008       NaN         NaN  80000170       NaN
738           122  3010008       NaN         NaN  80000170       NaN
739           122  3010008       NaN         NaN  80000170  80000170

         Customer/Vendor Name  Offsetting acct no. Document type  \
0                         NaN                  NaN            KZ
1              Ecctis Limited                  NaN            KR
2                         NaN                  NaN            KZ
3        West London Plumbing                  NaN            KR
4                         NaN                  NaN            KZ
..                        ...                  ...           ...
735                       NaN                  NaN            KZ
736                       NaN                  NaN            KZ
737                       NaN                  NaN            KZ
738                       NaN                  NaN            KZ
739  DUN & BRADSTREET LIMITED                  NaN            KR

     Document Number  ... Profit Center Purchasing Document  Reference  \
0         1500000681  ...    P106001000                 NaN       BILL
1         3900000657  ...    P106001000                 NaN       BILL
2         1500000617  ...    P106001000                 NaN       BILL
3         3900000592  ...    P106001000                 NaN       BILL
4         1500000820  ...    P106001000                 NaN       BILL
..               ...  ...           ...                 ...        ...
735       1500000246  ...    P101314000                 NaN        NaN
736       1500000246  ...    P106001000                 NaN        NaN
737       1500000410  ...    P104410000                 NaN        NaN
738       1500000410  ...    P106001000                 NaN        NaN
739       3900000885  ...    P106001000                 NaN       BILL

    Sales Document  Sort key Special G/L ind.  UAP Code  UAP Sub-Code  \
0              NaN        60              NaN       NaN           NaN
1              NaN        60              NaN       NaN           NaN
2              NaN        60              NaN       NaN           NaN
3              NaN        60              NaN       NaN           NaN
4              NaN        60              NaN       NaN           NaN
..             ...       ...              ...       ...           ...
735            NaN        60              NaN       NaN           NaN
736            NaN        60              NaN       NaN           NaN
737            NaN        60              NaN       NaN           NaN
738            NaN        60              NaN       NaN           NaN
739            NaN        60              NaN       NaN           NaN

    User Name  Unnamed: 34
0       21468            V
1       21468            V
2       21468            V
3       21468            V
4       21468            V
..        ...          ...
735     18181            V
736     18181            V
737     18181            V
738     18181            V
739     18181            V

[10053 rows x 35 columns]

In [17]:
# Save the combined result in a new Excel file in 3 separate sheets
output_file = r'C:\Users\20735\Customers_Data\Customers_DataC\0122 Vendors for matching.xlsx'
with pd.ExcelWriter(output_file) as writer:
    zero_sum_df.to_excel(writer, sheet_name='Cleared items', index=False)
    #non_zero_sum_df.to_excel(writer, sheet_name='Open items sorted', index=False)
    all_open_items_df.to_excel(writer, sheet_name='All open items', index=False)
    combined_df.to_excel(writer, sheet_name='Combined', index=False)
    #ungrouped_df.to_excel(writer, sheet_name='Ungrouped items,No parameters', index=False)

In [18]:
print(output_file)

C:\Users\20735\Customers_Data\Customers_DataC\0122 Vendors for matching.xlsx